body{
  font-family: 'Montserrat', sans-serif;
}

html,
body{
  height: 100%;
  margin: 0;
  padding: 0;
}
/*.first{*/
/*  background-color: white;*/
/*}*/
/*.second{*/
/*  background-color: white;*/
/*}*/
/*.third{*/
/*  background-color: white;*/
/*}*/

